# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/  # uncomment if you don’t want to commit VS Code settings

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.flutter-*
.metadata

# iOS related
**/ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android related
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/captures/
android/.idea/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Secrets
*.jks
.env
